<?xml version="1.0" encoding="UTF-8"?>
<plugin
	id="org.openehr.docs.magicdraw"
	signature="openEHR docs exporter"
	version="1.0"
	provider-signature="openEHR"
	class="org.openehr.docs.magicdraw.OpenEHRExporter">

	<requires>
	   <api version="1.0"/>
	</requires>

	<runtime>
	   <library signature="OpenEhrModelExporter.jar"/>
	</runtime>
</plugin>